{% extends "foodboard/base.html" %}

{% block title %}Here are your cook events:{% endblock title %}

{% block content %}

{% if cook_events %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-4">
            <h5 class="align-middle">Cooking schedule:</h4>
        </div>
        <div class="col-1">
            <a class="btn btn-primary"
                href="{% url 'foodboard:plan_from_date' year=prev_date.year month=prev_date.month day=prev_date.day %}">&lt;</a>
        </div>
        <div class="col-6">
            <h6 class="text-center">Week of: {{current_date}}</h5>
        </div>
        <div class="col-1">
            <a class="btn btn-primary"
                href="{% url 'foodboard:plan_from_date' year=next_date.year month=next_date.month day=next_date.day %}">&gt;</a>
        </div>
    </div>
    <div class="row">
        {% for event in cook_events %}
        <div class="col-4">
            {{ event.date}}
        </div>
        <div class="col-8">
            {% if event.recipe %}
            {{ event.recipe}} <a href="{%url 'foodboard:cook_event' pk=event.pk %}"><i
                    class="bi bi-pencil-square"></i></a>
            {% else %}
            (No recipe)<a
                href="{%url 'foodboard:cook_event_add'%}?year={{ event.date.year }}&month={{ event.date.month }}&day={{ event.date.day}}"><i
                    class="bi bi-pencil-square"></i></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>

{% else %}
<p>No cook events present</p>
{% endif %}

{% endblock content %}