li a{
    color:green
}

.box{
    display:flex;
    flex-flow: row wrap;
    /* align-items: center; */
    justify-content: space-around;


    border: 2px solid black;
    padding: 2px;
    margin: 1px;
    height: 300px;
}

.item{
    flex:1;
    border: 1px dotted gray;
    padding: 2px;
    margin: 1px;
}
.recipe_thumbnail{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:5px;
    /* width:120px; */
}
.col{
    border: 1px solid blue;
}